.categoryWrapper {
  padding: 20px;
  background-color: #f9f9f9;
}

.heading {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center; 
}


.sliderWrapper {
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  padding: 35px 0 0 0 !important;
}

.sliderWrapper :global(.splide__arrow) {
  background-color: #fff; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 64px;
}

.sliderWrapper :global(.splide__arrow--prev) {
  left: -45px; 
  transform: translateY(-50%);
}

.sliderWrapper :global(.splide__arrow--next) {
  right: -45px; /* move to right */
  transform: translateY(-50%);
}

.arrowButton {
  z-index: 1 !important;
}

.customSlideItem {
  background-color: white;
    padding: 0px;
    width: 118px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.customImage {
  border-radius: 50%;
  width: 100%;
}

.customText {
  font-size: 14px;
  color: #333;
  text-align: center;
}

.customCardAnchor {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1280px) {
  .customText {
    font-size: 18px;
  }
}

@media (max-width: 854px){
  .sliderWrapper :global(.splide__arrow){
    display: none;
  }
}

@media (max-width: 769px){
  .customSlideItem{
    margin-right: 10px !important;
  }
}

@media (max-width: 413px){
  .customSlideItem{
    width: 93px !important;
  }

  .customText {
    font-size: 14px;
  }
}