.dropdownContainer {
  position: relative;
  width: fit-content;
  display: flex;
}

.dropdownTrigger {
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.arrowIcon {
  font-size: 18px;
  margin-left: 4px;
}

.dropdownContent {
  position: fixed;
  top: 133px; 
  left: 0;
  width: 100vw;
  display: none;
  opacity: 0;
  background-color: white;
  padding: 20px 10px;
  z-index: 999;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  height: 80vh;
}

.showDropdown {
  display: flex;
  opacity: 1;
}

.dropdownSection {
  flex: 1;
  padding: 0 10px;
}


.dropdownSection h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.dropdownSection p {
  cursor: pointer;
  color: black;
  position: relative;
  display: block;
  width: fit-content;
  margin-bottom: 6px;
}

.dropdownSection p::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: olive;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.dropdownSection p:hover::after {
  transform: scaleX(1);
}

.DropBar {
  display: flex;
  gap: 20px;
  padding: 12px 40px;
  max-width: 100%;
}

.dropdownWrapper {
  position: relative;
}

@media (max-width: 1024px){
  .dropdownContainer{
    display: none;
  }

  .DropBar{
    display: none;
  }

  hr{
    display: none;
  }
}